:root {
  --bg: #ffffff;
  --primary: #19c756;
  --text-primary: #111111;

  font-family: Roboto, sans-serif;
  font-size: 16px;
}

:root.dark {
  --bg: #16171d;
  --primary: #35de70;
  --text-primary: #f3f4f6;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text-primary);
}
