.appShell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainWrapper {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: var(--ds-spacing-xl);
  overflow-y: auto;
}
